<nav class="navbar navbar-expand-lg p-0">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img class="ico" src="../../../assets/icos/logo3.png" alt="">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link link-purple" routerLink="">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/PrincipalCatalog">Catálogo</a>
          </li>

          <li class="dropdown__fn">
             <button class="dropbtn__fn">Mujer</button> <!--Departamento -->
            <div class="dropdown-content__fn bg-body">
              <div class="header__fn">
                <div class="row__fn">
                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Ropa</h5><!--Categoria -->
                    <a  routerLink="/Product">Tops</a><!--Tipo -->
                    <a  routerLink="/Product">Bottoms</a><!--Tipo -->
                    <a  routerLink="/Product">Zapatos</a><!--Tipo -->
                  </div>

                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Belleza</h5><!--Categoria -->
                    <a routerLink="/Product">MakeUp</a><!--Tipo -->
                    <a routerLink="/Product">Skyn Care</a><!--Tipo -->
                    <a routerLink="/Product">Fragancias</a><!--Tipo -->
                    <a routerLink="/Product">Accesorios de Belleza</a><!--Tipo -->
                  </div>
              </div>
              </div>
            </div>
          </li>
          
          <li class="dropdown__fn">
            <button class="dropbtn__fn">Hombre</button>
            <div class="dropdown-content__fn  bg-body">
              <div class="header__fn">
                <div class="row__fn">
                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Ropa</h5><!--Categoria -->
                    <a  routerLink="/Product">Tops</a><!--Tipo -->
                    <a  routerLink="/Product">Bottoms</a><!--Tipo -->
                    <a  routerLink="/Product">Zapatos</a><!--Tipo -->
                  </div>

                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Belleza</h5><!--Categoria -->
                    <a routerLink="/Product">Fragancias</a><!--Tipo -->
                    <a routerLink="/Product">Skyn Care</a><!--Tipo -->
                    <a routerLink="/Product">Accesorios de Belleza</a><!--Tipo -->
                  </div>
              </div>
              </div>
            </div>
          </li>

          <li class="dropdown__fn">
            <button class="dropbtn__fn">Electrónica</button>
            <div class="dropdown-content__fn  bg-body">
              <div class="header__fn">
                <div class="row__fn">
                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Celulares y Telefonía</h5><!--Categoria -->
                    <a  routerLink="/Product">Celulares</a><!--Tipo -->
                    <a  routerLink="/Product">Reacopndicionados</a><!--Tipo -->
                    <a  routerLink="/Product">Accesorios</a><!--Tipo -->
                    <a  routerLink="/Product">Telefonía Fija</a><!--Tipo -->
                  </div>

                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Computación</h5><!--Categoria -->
                    <a routerLink="/Product">Laptops</a><!--Tipo -->
                    <a routerLink="/Product">Tablets</a><!--Tipo -->
                    <a routerLink="/Product">Comutadoras de Escritorio</a><!--Tipo -->
                    <a routerLink="/Product">Software</a><!--Tipo -->
                    <a routerLink="/Product">Accesorios</a><!--Tipo -->
                  </div>
              </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/PuntoVenta">Punto de Venta</a>
          </li>
        </ul>

        <span class="navbar-text">
            <a class="nav-link" routerLink="/Shopping">
                Shopping <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </span>
      </div>
    </div>
  </nav>



  <router-outlet></router-outlet>