<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="ico" src="../../../assets/icos/logo3.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active link-purple" aria-current="page"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Catalog">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/PuntoVenta">Punto de Venta</a>
          </li>

          <li class="dropdown__fn">
             <button class="dropbtn__fn">Mujer</button> <!--Departamento -->
            <div class="dropdown-content__fn bg-body">
              <div class="header__fn">
                <div class="row__fn">
                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Ropa</h5><!--Categoria -->
                    <a  href="#">Tops</a><!--Tipo -->
                    <a  href="#">Bottoms</a><!--Tipo -->
                    <a  href="#">Zapatos</a><!--Tipo -->
                  </div>

                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Belleza</h5><!--Categoria -->
                    <a href="#">MakeUp</a><!--Tipo -->
                    <a href="#">Skyn Care</a><!--Tipo -->
                    <a href="#">Fragancias</a><!--Tipo -->
                    <a href="#">Accesorios de Belleza</a><!--Tipo -->
                  </div>
              </div>
              </div>
            </div>
          </li>
          
          <li class="dropdown__fn">
            <button class="dropbtn__fn">Hombre</button>
            <div class="dropdown-content__fn  bg-body">
              <div class="header__fn">
                <div class="row__fn">
                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Ropa</h5><!--Categoria -->
                    <a  href="#">Tops</a><!--Tipo -->
                    <a  href="#">Bottoms</a><!--Tipo -->
                    <a  href="#">Zapatos</a><!--Tipo -->
                  </div>

                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Belleza</h5><!--Categoria -->
                    <a href="#">Fragancias</a><!--Tipo -->
                    <a href="#">Skyn Care</a><!--Tipo -->
                    <a href="#">Accesorios de Belleza</a><!--Tipo -->
                  </div>
              </div>
              </div>
            </div>
          </li>

          <li class="dropdown__fn">
            <button class="dropbtn__fn">Electrónica</button>
            <div class="dropdown-content__fn  bg-body">
              <div class="header__fn">
                <div class="row__fn">
                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Celulares y Telefonía</h5><!--Categoria -->
                    <a  href="#">Celulares</a><!--Tipo -->
                    <a  href="#">Reacopndicionados</a><!--Tipo -->
                    <a  href="#">Accesorios</a><!--Tipo -->
                    <a  href="#">Telefonía Fija</a><!--Tipo -->
                  </div>

                  <div class="column__fn">
                    <h5 style="font-size: 15px;">Computación</h5><!--Categoria -->
                    <a href="#">Laptops</a><!--Tipo -->
                    <a href="#">Tablets</a><!--Tipo -->
                    <a href="#">Comutadoras de Escritorio</a><!--Tipo -->
                    <a href="#">Software</a><!--Tipo -->
                    <a href="#">Accesorios</a><!--Tipo -->
                  </div>
              </div>
              </div>
            </div>
          </li>
        </ul>

        <span class="navbar-text">
            <a class="nav-link" routerLink="/Shopping">
                Shopping <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </span>
      </div>
    </div>
  </nav>



  <router-outlet></router-outlet>