<div class="container mb-2">
    <div class="text-start">
        
        <div class="row">
            <div class="col">
                <h6>Desgloze de Pagos</h6>
                <h3>Compra <b class="text-success"> $00.00 </b></h3>
                <h4>Total de Compra <b class="text-success"> $00.00 </b></h4>
            </div>
            
            <div class="col p-2 scrollcard" style="margin-top: -10px!important;">
                <table class="table table-hover table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Plazo</th>
                            <th>Fecha</th>
                            <th>Cobertura</th>
                            <th>Interes</th>
                            <th>Saldo</th>
                            <th>Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1</td>
                            <td>00/00/0000</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                        </tr>
                        <tr>
                            <td> 2</td>
                            <td>00/00/0000</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                        </tr>
                        <tr>
                            <td> 3</td>
                            <td>00/00/0000</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                        </tr>
                        <tr>
                            <td> 4</td>
                            <td>00/00/0000</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                            <td>$00.00</td>
                        </tr>
                        <tr class="border-0">
                            <td colspan="5" class="fw-bold"> Total </td>
                            <td>$00.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <form action="" class=" p-3">
        <div class="row text-center">
            <div class="col">
               <h2>$1000.00</h2>
               <span>Cantidad a Desembolsar</span>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col p-2">
                        <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
                        <label class="btn btn-outline-dark fs-5 p-4" style="width: 100%;" for="btn-check-2">Caja</label>
                    </div>
                    
                    <div class="col p-2">
                        <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
                        <label class="btn btn-outline-dark fs-5 p-4" style="width: 100%;" for="btn-check-1">Cuenta</label>
                    </div>
                </div>
                
                <div class="row mt-2 mb-3 text-start">
                    <label  class="form-label">Selecciona Cuenta</label>
                    <select class="form-select" name="" id="">
                        <option value="">...</option>
                        <option value="1">Cuenta 1</option>
                        <option value="2">Cuneta 2</option>
                        <option value="3">Cuenta 3</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
