<div class="container text-center">
    <div class="row mb-5 text-center">
        <div>
            <div class="btn-group card-menu" role="group" aria-label="Basic example">
                @for(cat of categories; track cat.id){
                    <button type="button" class="btn btn-ico push animate__animated animate__wobble" (click)="categorie = cat.id"><i class="{{cat.iconName}}"></i> {{cat.name}}</button>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" style="font-size: 12px;margin-top: -8px;">Search <i class="fa-solid fa-magnifying-glass"></i></label>
                    </div>
                </div>

                <div class="col-md-6 text-start">
                    <h6> Filters
                        <button class="btn border-0 push"><i class="fa-solid fa-list"></i></button>
                        <button class="btn border-0 push"><i class="fa-solid fa-arrow-up-wide-short"></i></button>
                        <button class="btn border-0 push"><i class="fa-solid fa-arrow-down-wide-short"></i></button>
                        <button class="btn border-0 push"><i class="fa-solid fa-arrows-rotate"></i></button>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <app-products catId = '{{categorie}}'></app-products>
</div>
