/* You can add global styles to this file, and also import other style files */
.push{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.push:hover{
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.04) !important;
}

.bg_lightGray{background-color: rgb(244, 244, 244);}

.bg_glass{
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.glass{
    backdrop-filter: blur(10px);
}

body{scroll-behavior: auto;overflow-y: auto;overflow-x: hidden;}
body::-webkit-scrollbar {width:  10px;     /* Tamaño del scroll en vertical */height: 5px;}
body::-webkit-scrollbar-thumb {  background: #dddddd;    border-radius: 15px;}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {background-color: #999999;}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {background: #ececec;border-radius: 10px; }
/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover, body::-webkit-scrollbar-track:active { background: #d4d4d4;}