<div class="container">
    <div class="row">

        <!-- products details area -->
        <div class="col-md-8">
            <h3 class="mt-3 fw-light">Product In My Cart</h3>

            <div class="container scrollArea">
                <app-compra-product></app-compra-product>
            </div>
        </div>

        <!-- Total area -->
        <div class="col-md-4">
            <div class="row bg_lightGray p-4">
                <h3 class="mb-5 fw-light">Summary</h3>

                <div class="row mb-4 total_fonts">
                    <div class="col-md-5 text-start text-truncate">
                        <h6 class="fw-light">SUBTOTAL</h6>
                        <h6 class="fw-light">I.V.A.</h6>
                        <h6 class="fw-light">ENVIO</h6>
                        <h3 class="fw-light">TOTAL</h3>
                    </div>
                    <div class="col-md-6 text-end text-truncate">
                        <h6 class="fw-bold">$00.00</h6>
                        <h6 class="fw-bold">$00.00</h6>
                        <h6 class="fw-bold">$00.00</h6>
                        <h3 class="fw-normal">$00.00</h3>
                    </div>    
                </div>

                <div class="container">
                    <div class="text-center">
                        <button class="btn btn-outline-dark rounded-0 mb-3" style="width: 80%;"> Add Cupons</button>
                        <button class="btn btn-dark rounded-0 push" style="width: 80%;">Payment</button>
                    </div>
                </div>

            </div>

            <div class="row text-center p-5">
                <img src="../../../assets/products/methodsPay.jpg"  alt="">
            </div>
        </div>
    </div>
</div>