<!-- <div class="row p-3 mb-3">
    <div class="card text-bg-dark portada" style="background-color: rgba(240, 248, 255, 0)!important;border: none;">
        <img src="../../../assets/photo2.jpg" class="card-img portada" alt="...">
        <div class="position-relative">
            <div class="position-absolute bottom-0 start-0">
                <h1 class="card-title fw-light animate__animated animate__bounceInLeft">&nbsp; Products</h1>
            </div>

            <div class="position-absolute bottom-0 end-0 p-3">
                <button class="btn btn-muted"><i class="fa-solid fa-pen"></i></button>
            </div>
        </div>
    </div>
</div> -->

<div class="bg-dark">
    <div class="row">
        <div class="col-md-8 text-light p-5">
            <h1 class="card-title fw-light animate__animated animate__bounceInLeft"> Products</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vero ratione iure, numquam non, ipsam nemo ut expedita assumenda, officiis voluptatum adipisci! Delectus doloremque earum fuga facilis atque molestias debitis.</span>
        </div>
        <div class="col-md-4">
            <div class="card border-0 m-0 rounded-0">
                <img src="../../../assets/icos/1.png" class="card-img rounded-0" alt="...">
                <div class="card-img-overlay rounded-0" style="background-image: linear-gradient(270deg, #ffffff00 0%, #22262a 99%);"></div>
              </div>
        </div>

        <div class="position-relative">
            <div class="position-absolute bottom-0 end-0 p-3">
                <button class="btn btn-muted push"><i class="fa-solid fa-pen"></i></button>
            </div>
        </div>
    </div>
</div>



<div class="row" style="background-color: rgb(241, 241, 241);">
    <div class="col-md-2 p-5 text-center">
        <h1 class="fw-light mt-5">Mujer</h1>
    </div>
    
    <div class="col text-center">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner mt-4 mb-2">
                <div class="carousel-item active">
                    <h5><i class="fa-solid fa-shirt fs-6"></i> Ropa</h5>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <h5><i class="fa-brands fa-pagelines fs-6"></i> Belleza</h5>

                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
    </div>
</div>


<div class="row" style="background-color: rgb(37, 37, 37);">
    <div class="col-md-2 p-5 text-center">
        <h1 class="fw-light text-light mt-5">Hombre</h1>
    </div>
    
    <div class="col text-center">
        <div id="carouselExample1" class="carousel slide">
            <div class="carousel-inner mt-4 mb-2">
                <div class="carousel-item active">
                    <h5 class=" text-light"><i class="fa-solid fa-shirt fs-6"></i> Ropa</h5>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <h5 class=" text-light"><i class="fa-brands fa-pagelines fs-6"></i> Belleza</h5>

                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-light">Categorie</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
    </div>
</div>


<div class="row" style="background-color: rgb(241, 241, 241);">
    <div class="col-md-2 p-5 text-center">
        <h2 style="font-size: 60px;" class="fw-light mt-5">Electrónica</h2>
    </div>
    
    <div class="col text-center">
        <div id="carouselExample2" class="carousel slide">
            <div class="carousel-inner mt-4 mb-2">
                <div class="carousel-item active">
                    <h5><i class="fa-solid fa-shirt fs-6"></i> Ropa</h5>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <h5><i class="fa-brands fa-pagelines fs-6"></i> Belleza</h5>

                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                        <div class="col p-2 text-light">
                            <img src="../../../assets/icos/3.png" class="img_cat mx-auto d-block" alt="...">
                            <span class="text-dark">Categorie</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
    </div>
</div>


